<p>reservation-list works!</p>
<ul *ngIf="reservations.length; else noReservation">
    <li *ngFor="let reservation of reservations">
        Guest: {{reservation.guestName}} <br>
        Guest: {{reservation.guestEmail}} <br>
        Guest: {{reservation.roomNumber}} <br>
        Guest: {{reservation.checkInDate}} <br>
        Guest: {{reservation.checkoutDate}} <br>
        <button (click)="deleteReservation(reservation.id)">Delete</button>
    </li>
</ul>

<ng-template #noReservation>
    <p>No reservation available.</p>
</ng-template>